<div class="container my-3">
  <a routerLink="/templates">Back</a>
  <form #form="ngForm">
    <div class="form-group col-md my-2">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" class="form-control my-2" [(ngModel)]="template.name" />
    </div>
    <button class="btn btn-primary my-2" (click)="updateSaveNew($event)">Save</button>
  </form>
  <dt>Content</dt>
  <dd [innerHTML]="sanitizedText() | safeHtml"></dd>
  <dt>Modified</dt>
  <dd>{{template.modified | date:'medium'}}</dd>
</div>
<app-panel *ngIf="this.selectedText.length" text={{this.selectedText}}
            [handleSave]="handleTemplateUpdate"></app-panel>
