<div class="editpanel p-5">
  <div>
    <input id="template" textType="text" />
    <!-- <select name="template" id="template" class="py-1">
      <option value="size">12</option>
      <option value="size">15</option>
      <option value="size">17</option>
      <option value="size">19</option>
      <option value="size">21</option>
      <option value="size">23</option>
      <option value="size">25</option>
    </select> -->
  </div>
  <button class="btn btn-primary my-2 px-4">Ok</button>
</div>
